<footer class="footer">
    <p>Marijn de Wolff &copy; 2018 <br><span style="font-size:12px">photo by Tyler Quiring on Unsplash</span></p><br>


</footer>

<script>
    /*  $('.navbar-nav a').on('click', function(e) {
        e.preventDefault();
        $('.navbar-nav').find('.nav-item').removeClass('active');
        $(this).parent('.nav-item').addClass('active');
*/

    /*$('.navbar-nav .nav-link').click(function() {
    $('.navbar-nav .nav-link').removeClass('active');
    $(this).addClass('active');
    })*/

</script>

</body>

</html>
