<% include ./partials/header%>

<div class="container">
    <br>
    <br>
    <h3>Create your own study set!</h3><br>
    <div class="form-group">
        <form id="list-creator" action="/create-set" method="post" autocomplete="off">
            <label><b>Set name:</b></label><br>
            <input type="text" name="title" placeholder="Set a name for your study set" size="40" required><br><br>
            <label><b>Description (optional):</b></label><br>
            <textarea name="description" placeholder="Enter description or instructions here" rows="4" cols="40"></textarea><br><br>
            <label><b>Add flashcards:</b></label>
            <table class="table" id="dynamic-field">
                <tr>
                    <td>1.</td>
                    <td><input type="text" name="row_1a" id="row_1a" class="form-control" placeholder="Flashcard side A" required></td>
                    <td><input type="text" name="row_1b" id="row_1b" class="form-control" placeholder="Flashcard side B" required></td>
                    <td><button type="button" name="add" id="add" class="btn-dark">+ Add card</button></td>
                </tr>
            </table>
            <center><input type="submit" class="btn-dark btn-lg" id="submit" value="Create set" /></center>
        </form>
    </div>
</div>
<script>
    $(document).ready(function() {
        let i = 1;
        $('#add').click(function() {
            i++;
            $('#dynamic-field').append('<tr id="row' + i + '"><td>' +
                i + '.</td><td><input type="text" name="row_' + i + 'a" id="row_' + i + 'a" class="form-control" placeholder="Flashcard side A" required></td><td><input type="text" name="row_' + i + 'b" id="row_' + i + 'b" class="form-control" placeholder="Flashcard side B" required></td><td><button button type="button" name="remove" id="' + i + '" class="btn-dark btn_remove">- Remove</button></td></tr>')
        })
        $(document).on('click', '.btn_remove  ', function() {
            let button_id = $(this).attr("id");
            $('#row' + button_id + '').remove();
        })
    })

</script>

<% include ./partials/footer%>
