<% include ./partials/header%>

<div class="index-background-pic">
    <img class="img-fluid" width=100% src="/public/images/tyler-quiring-21351-unsplash.jpeg" alt="Muninn">
    <div class="container">
        <div class="transparant-text-box">
            <h1 style="color:#e69900">Welcome to Muninn (BETA)!</h1><br>
            <ul style="text-align:left">
                <h3>
                    <li>Muninn is an easy-to-use personalized flashcard app that will help you memorize whatever you need to memorize! Use it for your foreign language vocab, history facts, medical terminology, geography or whatever you want!</li><br>
                    <li>Muninn allows users to create their own private study sets or share them in the Muninn community. Also, the app will keep track of user's study progress and log their results on their personal page.</li><br>
                    <li>
                        What's that bird doing there? That's Muninn! In Norse mythology, the god Odin has a pair of ravens, Huginn ('thought') and Muninn ('memory'), that fly all over the world and bring him information (<a href="https://en.wikipedia.org/wiki/Huginn_and_Muninn">read more</a>).
                    </li>
                </h3>

            </ul>
        </div>
    </div>
</div>

<script>
    $('.bird').hide()

</script>
<% include ./partials/footer%>
