<% include ./partials/header%>
<center>
    <div>
        <h3>Your current study set: <b>
                <%=setTitle%></b></h3><br><br>
    </div>
    <div>
        <p>
            <%=card.sideA%>
        </p>

    </div>
    <form action="/study-session" method="post">
        <input type="hidden" name="setId" value="<%=setId%>">
        <input type="hidden" name="cardId" value="<%=card.id%>">
        <input type="text" name="submitAnswer" placeholder="Your answer">
        <input class="button" type="submit" value="Submit" />
    </form>
</center>


<% include ./partials/footer%>
