<% include ./partials/header%>
<div class="container">
    <br>
    <br>
    <div id="titleRow" display="inline">
        <h3>🤓 Your current study set:
            <span style="color:#e69900">
                <u>
                    <%=setTitle%></u></span>
        </h3>
        <p>Number of cards:
            <%=studySet.length%>
        </p><br>
    </div>

    <center>
        <div class="cardContainer">
            <div class="card">
                <div class="cardFront" id="cardFront">
                    <h2 class="cardFrontVar" id="cardFrontVar"></h2>
                    <form class="answerForm" id="answerForm">
                        <input type="text" name="answerField" id="answerField" placeholder="Your answer" required>
                        <button type="button" name="submitButton" id="submitButton" class="button">Submit</button>
                    </form><br>
                </div>
                <div class="cardBack" id="cardBack">
                    <h3 id="feedback" class="feedback"></h3><br>
                    <button type="button" id="nextButton" class="button">Let's go!</button>
                </div>
            </div>
        </div>
    </center>
</div>

<script>
    let studySet = <%-JSON.stringify(studySet)%>

    function shuffleFunc(a) {
        for (let i = a.length - 1; i > 0; i--) {
            const j = Math.floor(Math.random() * (i + 1));
            [a[i], a[j]] = [a[j], a[i]];
        }
        return a;
    }
    let wrong = 0

    $(document).ready(function() {
        $('#cardFront').hide();
        $('#cardBack').show();
        $('#nextButton').click(function() {
            $("#answerField").val(null);
            $('#cardBack').hide();
            $('#cardFront').show();
            shuffleFunc(studySet)
            let card = studySet[0]
            if (studySet.length === 0) {
                $('#cardFrontVar').text(`You finished this study set! You had ${wrong} card(s) wrong.`);
                $('#answerForm').hide();
            } else {
                $('#cardFrontVar').text(card.sideA);
                $('#submitButton').click(function() {
                    $('#cardFront').hide()
                    $('#cardBack').show()
                    let currentCard = $('#cardFrontVar').text();
                    if (currentCard === card.sideA) {
                        let inputValue = $('#answerField').val().trim().toLowerCase();
                        if (card.sideB.toLowerCase() === inputValue) {
                            $('#feedback').text('✅ You got it right!').show();
                            studySet.splice(0, 1)
                        } else {
                            $('#feedback').text('❌ Wrong answer!').show();
                            wrong++
                        }
                        $('#nextButton').text("Next").show()
                    }
                })
            }
        })
    });

</script>


<% include ./partials/footer%>
